<div class='card'>
    <div class='card-body'>
        <label font-family:Calibry>All Orders</label>
        <ag-grid-angular 
            style="width: 100%; height:300px" 
            class="ag-theme-balham"
            rowSelection="single"
            (selectionChanged)="onSelectionChanged()"
            (gridReady)="onGridReady($event)"
            [rowData]="rowDataOrder" 
            [columnDefs]="columnDefsOrder"
            [defaultColDef]="defaultColDef">
        </ag-grid-angular>        
        <p></p><label>Products</label>
        <ag-grid-angular 
            style="width: 100%; height: 200px; align-self: stretch;" 
            class="ag-theme-balham"
            [rowData]="rowDataProduct" 
            [columnDefs]="columnDefsProduct"
            [defaultColDef]="defaultColDef">
        </ag-grid-angular>        
    </div>
</div>